
.product-carousel-container {
  overflow-x: auto;
  padding-bottom: 15px;
}

.product-row {
  display: flex;
  flex-wrap: nowrap;
}

.product-card-portrait {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 15px;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.floating-cart-button {
  position: fixed;
  bottom: 20px;
  right: 100px; /* Adjust as needed */
  z-index: 1000;
}
